@import "reset.css";

:root {
  font-family: "Twemoji Country Flags", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

#root {
  min-height: 100vh;
  min-width: 320px;
  max-width: 1280px;

  display: flex;
  flex-direction: column;
  place-items: center;

  margin: auto;
  padding: 2rem;
  padding-top: 0.5rem;

  text-align: center;
}

/* general element styles */

a {
  flex-grow: 0;
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}


h1 {

  font-size: 3.2em;
  line-height: 1.1;
}

h1,
h2 {
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.7em;
  /* line-height: 1.1; */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

/* CLASSES */
/* TODO semantically separate better this zones when you figure out a better relationship */

/* project title */
.project-title {
  font-weight: 900;
}

/* List of selected countries zone */
summary {
  /* summary element */
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 1em;
}

summary:hover {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Adjust shadow values as needed */
}

.flag-selection,
.template-selection {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  flex-wrap: wrap;
  /* Container expands to fit content */
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
  margin-bottom: 2.5rem;
}

/* date-time (only time) input */
#time-selector-input {
  font-size: 2.5em;
  font-weight: bolder;
  margin: 0.5rem;
  /* padding-inline: 2rem; */
  padding-left: 0.5em;
  padding-right: 0.3em;
}

/* Timezone selector from MUI styles */

#timezone-selector-input {
  /* MUI bug: Sadly I need to use " !important " on some fields to avoid MUI Style overwrite, could avoid it by using themes but then my styles would be all over the project */
  display: flex;
  color: white !important;
  width: min(60vw, 900px) !important;
}


.MuiAutocomplete-root {
  margin-bottom: 2em;
}

.MuiAutocomplete-listbox,
.MuiAutocomplete-option,
#timezones-textarea {
  font-family: "Twemoji Country Flags", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}



.MuiAutocomplete {
  width: 70%;
}

/* Textarea styles */

#timezones-textarea {
  display: flex;
  font-size: 1.2rem;
  padding: 1.5em 3em;
  width: 70%;
  resize: none;
}

#timezones-textarea>div {
  background-color: red;
}

.timezones-textarea-not-empty {
  cursor: pointer;
}

/* textarea-copy-button */
.textarea-copy-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 4rem;
  font-size: 1.5rem;
  font-weight: bold;
  margin-block-start: 1em;
}

.textarea-copy-button:hover {
  background-color: oklch(32.05% 0.041 246.65);
}

.textarea-clear-all-button {
  font-size: 1.2em;
  background-color: rgb(94, 29, 29);
  margin-top: 1.2em;
}


/* Media queries */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover,
  button {
    background-color: #f9f9f9;
  }
}